.albumHeading{
    /* grid-gap: 30px;
    display: grid;
    gap: 30px;
    grid-auto-flow: row;
    grid-auto-rows: 150px; */
    /* grid-template: repeat(1, 150px) / repeat(auto-fit, minmax(150px, .5fr)); */
    display: flex;
    margin-bottom: 100px;
    justify-content: flex-start;
    width:100%;
    margin-left: 3rem;

}

.albumHeading .emptyHeading{
   justify-content: center !important
}
/* .albumContent .heading{
    justify-items: flex-start;
} */
.img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .24);
    /* aspect-ratio: 1; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.albumAdd{
    color: #07f;
    border: 2px solid #07f;
    background-color: rgba(0, 119, 255, .1);
    width: 10rem;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
    height: 2.5rem;
}
.cancel{
    border: 2px solid #ff1300;
    color: #ff1300;
    background-color: rgba(255, 19, 0, .1);
}
.image{
    width:410px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, .2);
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px;
    position: relative;
    
}
.imagesList{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    /* box-shadow: 0 2px 8px 0 rgba(99, 99, 99, .2); */
   
    
    
}
.container{
    width: 60%;
    margin: 0 auto;
    justify-content: center;
}
.edit{
    padding-top: 7px;	
	padding-right: 7px;
	position: absolute;
	right: 30px;
	top: 0;
	display: none;
    display: none;
    width:30px;
    height:30px;
    cursor: pointer;
}
.delete{
     padding-top: 3px;	
	/* padding-right: 20px; */
	position: absolute;
	right: 0px;
	top: 0;
	display: none;
    width:30px;
    height:30px;
    cursor: pointer;
}
.imageContainer{
    width: 410px;
    margin: 1rem;
    /* border:1px solid red; */
    position: relative;
	display: inline-block;
}
.imageContainer:hover .edit{ display: block; }
.imageContainer:hover .delete{ display: block; }

.search, .clear{
    width:35px;
    height:35px;
    margin: 0 2rem;
    cursor: pointer;
}
.inputSearch{
    font-size: 1.1rem;
    font-weight: 300;
    padding: 5px 5px 5px 10px;

}
